body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: black;
}

.canvas {
  height: 100%;
  background-image: radial-gradient(ellipse farthest-corner at center top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  cursor: move;
  position: relative;
  z-index: 1;

  &.canvas-black {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(0, 0, 0) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-red {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(255, 0, 0) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-orange {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(255, 89, 0) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-yellow {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(234, 182, 11) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-green {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(46, 153, 0) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-blue {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(0, 15, 153) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-indigo {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(103, 3, 197) 0%, hsla(255, 100%, 1%, 1) 100%);
  }

  &.canvas-purple {
    background-image: radial-gradient(ellipse farthest-corner at center top, rgb(216, 0, 220) 0%, hsla(255, 100%, 1%, 1) 100%);
  }
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: unset;
  outline: unset;
  box-shadow: unset;
  border-radius: 2rem;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2em;
  position: absolute;
  z-index: 999;
  width: 100vw;
  transition: 1s ease-in-out;
}

.controls-container {
  position: absolute;
  z-index: 999;
  position: absolute;
  z-index: 990;
  bottom: 5rem;
  width: 100%;
}

.colors-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  .color-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

.global-controls-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.hidden {
  opacity: 0;
  transition: .3s ease-in-out;
}

