* {
  font-family: "Raleway", sans-serif;
  transition: 0.3s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #2b2b2b;
}

.h1 {
  font-size: 7rem;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  color: rgb(254, 254, 254);
  margin: 2rem 0;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  color: rgb(254, 254, 254);
  margin: 2rem 0;
}

.canvas {
  height: 100%;
  background: radial-gradient(ellipse farthest-corner at center top, rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
  cursor: move;
  position: relative;
  z-index: 1;
}
.canvas.canvas-black {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(0, 0, 0) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-red {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(255, 0, 0) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-orange {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(255, 89, 0) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-yellow {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(234, 182, 11) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-green {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(46, 153, 0) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-blue {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(0, 15, 153) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-indigo {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(103, 3, 197) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}
.canvas.canvas-purple {
  background: radial-gradient(ellipse farthest-corner at center top, rgb(216, 0, 220) 0%, hsl(255, 100%, 1%) 100%);
  background-size: 200% 200%;
  animation: animateGradient 10s ease infinite;
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: unset;
  outline: unset;
  box-shadow: unset;
  border-radius: 2rem;
  font-weight: 500;
  background: unset;
  color: rgb(254, 254, 254);
}

.btn-primary {
  background-color: rgba(254, 254, 254, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #2b2b2b;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(254, 254, 254);
  font-size: 2em;
  position: absolute;
  z-index: 999;
  width: 100vw;
  transition: 1s ease-in-out;
}

.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(254, 254, 254);
  font-size: 2em;
  position: absolute;
  z-index: 0;
  width: 100vw;
  transition: 1s ease-in-out;
}

.end-screen.active {
  z-index: 999;
}

.controls-container {
  position: absolute;
  z-index: 999;
  position: absolute;
  z-index: 990;
  bottom: 2rem;
  width: 100%;
}

.colors-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.colors-container .color-button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}
.colors-container .color-button div {
  width: 60px;
  height: 60px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 100%;
}
.colors-container .color-button .color {
  text-align: center;
  color: rgb(254, 254, 254);
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.colors-container .red div {
  background: rgba(255, 0, 0, 0.6);
}
.colors-container .orange div {
  background: rgba(255, 89, 0, 0.6);
}
.colors-container .yellow div {
  background: rgba(234, 182, 11, 0.6);
}
.colors-container .green div {
  background: rgba(46, 153, 0, 0.6);
}
.colors-container .blue div {
  background: rgba(0, 15, 153, 0.6);
}
.colors-container .indigo div {
  background: rgba(103, 3, 197, 0.6);
}
.colors-container .purple div {
  background: rgba(216, 0, 220, 0.6);
}

.global-controls-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 999;
}
.global-controls-container .btn-primary {
  background-color: rgba(43, 43, 43, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: rgb(254, 254, 254);
}
.global-controls-container .btn-secondary {
  font-size: 0.875rem;
}

.hidden {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.text {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.bubbly-button {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #1b1f7f;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, transparent 20%, #1b1f7f 20%, transparent 30%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b1f7f 15%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, transparent 10%, #1b1f7f 15%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%), radial-gradient(circle, #1b1f7f 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #171a6a;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}/*# sourceMappingURL=styles.css.map */